[submodule "tests/doctest"]
	path = tests/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "benchmarks/benchmark"]
	path = benchmarks/benchmark
	url = https://github.com/google/benchmark.git
